<form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
  <input
         name="email"
         [(ngModel)]="model.email"
         class="form-control me-2"
         type="email"
         placeholder="Username"
         style="margin-bottom: 15px;">
  <input name="password"
         [(ngModel)]="model.password"
         class="form-control me-2"
         type="password"
         placeholder="Password">

  <button style="margin-top: 15px;width: 100%;" class="btn btn-success" type="submit">Авторизація</button>
</form>
