

<header>
  <div class="logo">
    <img src="assets/logo.png" alt="AutoQuiz" />
  </div>

  <div class="icons" *ngIf="(accountService.currentUser$ | async) as user">
    <a routerLink="/quiz" routerLinkActive="active" style="color:#2817C0;"><img src="assets/card-checklist.svg" alt="Сповіщення"/></a>
    <a routerLink="/create-test" routerLinkActive="active"><img src="assets/user-circle-svgrepo-com.svg" alt="Профіль" /></a>
  </div>

  <div class="icons" *ngIf="!(accountService.currentUser$ | async) as user">
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Реєстрація</a>
    <a class="nav-link" routerLink="/" routerLinkActive="active">Авторизація</a>
  </div>
</header>

<main>

  <router-outlet></router-outlet>

</main>
